/* Arquivo de Estilo do Mapa */
.leaflet-container { overflow: hidden; background: #ddd; -webkit-tap-highlight-color: transparent; }
.leaflet-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-container, .leaflet-pane > svg, .leaflet-pane > canvas, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer { position: absolute; left: 0; top: 0; }
.leaflet-container { -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-touch-callout: none; }
.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow { -webkit-user-drag: none; user-drag: none; }
.leaflet-tile { filter: inherit; visibility: hidden; }
.leaflet-tile-loaded { visibility: inherit; }
.leaflet-zoom-box { width: 0; height: 0; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 800; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-tile-pane { z-index: 200; }
.leaflet-map-pane svg { z-index: 200; }
.leaflet-map-pane canvas { z-index: 100; }
.leaflet-marker-pane { z-index: 600; }
.leaflet-shadow-pane { z-index: 500; }
.leaflet-popup-pane { z-index: 700; }
